name: Deploy website
on:
  push:
    branches:
      - main
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v3
      - name: Install dependencies
        run: npm ci
      - name: Lint code
        run: npm run lint
      - name: Test code
        run: npm run test
  build:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v3
      - name: Install dependencies
        run: npm ci
      - name: Build website
        run: npm run build
      - name: Upload artifacts #we can store artifacts in github for later use in other jobs or workflows.
        uses: actions/upload-artifact@v4
        with:
          name: dist-files
          path: dist # Path(s) on the runner where the artifact files are located (will be uploaded to GitHub).see in github where job runs
        #   path: |   multiple path
        #     dist
        #     package.json
  deploy:
    needs: build #run after build job is successful. Hence we can access the artifacts uploaded by build job.
    runs-on: ubuntu-latest
    steps:
      - name: Get build artifacts
        uses: actions/download-artifact@v4
        with:
          name: dist-files
      - name: Output artifact
        run: ls
      - name: Deploy
        run: echo "Deploying..."
